@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("component/card.css");
@import url("component/banner.css");
@import url("component/button.css");
@import url("component/banner.css");

body {
	background-color: #E4BA3F;
	color: rgb(50,50,50);
	font-family: 'Karla', sans-serif;
	font-size: 16px; 
	text-align: center;
	list-style: none;
}
h1 {
	color: rgb(255, 255, 255, 0.7); 
	font-family: 'Karla', sans-serif;
	font-size: 50px;
	letter-spacing: 10px;
}
h2{
	color: rgb(255, 255, 255, 0.7);	
	font-family: 'Karla', sans-serif;
	letter-spacing: 5px;
}
p{
	font-weight: lighter;
	text-justify:center;
	font-weight: bold;
}
